.home-header{ grid-area: home-header; }
.main-view { grid-area: main-view; }
.home-aside{ grid-area: home-aside; }
.home-main{ grid-area: home-main; }
.home-footer{ grid-area: home-footer; }
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
/* Main Css Container */
.app-home{
  display:grid;
  grid-template-areas:
    'home-header home-header home-header home-header home-header home-header'
    'main-view main-view main-view main-view main-view main-view'
    'home-footer home-footer home-footer home-footer home-footer home-footer';
}
/* Header */
.home-header{
  display: grid;
  background-color: blueviolet;
}

/* Main Content */
.main-view{
  display: grid;
  background-color: crimson;
  grid-template-areas: 
    'home-aside home-main home-main home-main home-main home-main'
}
.home-aside{
  background-color: darkcyan;
}
.home-main{
  background-color: crimson;
}

/* Footer */
.home-footer{
  display: grid;
  background-color: cadetblue;
}
